.header {
    border-bottom: 2px solid black;
}
.container {
    max-width: 700px;
    margin: auto;
}

label {
    margin: 12px;
}

input {
    margin: 5px;
}

#next {
    margin-top: 20px;
}

body {
    margin: 25px;
    font-family: sans-serif;
}
